
olddata/
ExperimentOne/
PilotExperiment/

.Rapp.history

.RData

.Rhistory
.DS_Store
DECISIVE Paper/decisive.aux
DECISIVE Paper/decisive.bbl
DECISIVE Paper/decisive.blg
DECISIVE Paper/decisive.log
DECISIVE Paper/decisive.out
DECISIVE Paper/decisive.synctex.gz
DECISIVE Paper/decisive.pdf
